@model Tuple<IEnumerable<MeetingTimes>, IEnumerable<MeetingUsers>, Meetings>
@inject ServiceLayer.Repositories.Meeting.MeetingTimesRepository MeetingTimesRepository
<style>
    li {
        list-style-type: none;
    }
</style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <div class="dropdown pull-right">
                            <a href="#custom-modal" data-animation="fall" data-plugin="custommodal" data-overlaySpeed="100" data-overlayColor="#36404a" class="btn btn-info">اعلام نظر</a>
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                        </div>

                        <h4 class="header-title m-t-0 m-b-30">اعضای دعوت شده به جلسه</h4>

                        <table id="datatable-keytable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" width="1">ردیف</th>
                                    <th class="text-center" width="200">نام و نام خانوادگی</th>
                                    <th class="text-center" width="10">وضعیت</th>
                                    <th class="text-center" width="300">تاریخ انتخابی</th>
                                    <th class="text-center" width="130">نظر </th>

                                </tr>
                            </thead>
                            <tbody>
                                @{var row = 1;}
                                @foreach (var item in Model.Item2)
                                {

                                    <tr class="text-center">
                                        <td>@(row++)</td>
                                        <td>@item.Users.FullName</td>
                                        <td>@item.Status.ToDisplay()</td>
                                        <td>
                                            @if (item.IsVote)
                                            {
                                                <span>
                                                    <ul class="list-item">
                                                        @{ var times = MeetingTimesRepository.GetTimeByTimeIds(item.TimeIds);}
                                                        @if (times != null)
                                                        {
                                                            foreach (var time in times)
                                                            {
                                                                <li>@time</li>
                                                            }
                                                        }
                                                    </ul>
                                                </span>
                                            }
                                            else
                                            {
                                                <span>---</span>
                                            }
                                        </td>
                                        <td>@item.Vote</td>

                                    </tr>
                                }

                            </tbody>

                        </table>
                   <a class="btn btn-block btn-danger" href="/">بازگشت</a>
                    </div>
                </div><!-- end col -->
            </div>
        </div>
    </div>


</div>


<div id="custom-modal" class="modal-demo">
    <form asp-action="UserSelected" asp-controller="Meeting" method="post" id="create-user-form">
        <button type="button" class="close" id="custom-modal-close" onclick="Custombox.close();">
            <span>&times;</span><span class="sr-only">بستن</span>
        </button>
        <h4 class="custom-modal-title">ثبت و اعلام نظر برای این جلسه </h4>
        <div class="custom-modal-text">
            @if (!Model.Item3.IsVote)
            {
                <div class="row">
                    <h4 class="header-title m-t-0 m-b-30">انتخاب زمان پیشنهادی</h4>

                    <table id="datatable-keytable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" width="1">#</th>
                                <th class="text-center" width="200">تاریخ شروع جلسه</th>
                                <th class="text-center" width="300">تاریخ پایان جلسه</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item1)
                            {

                                <tr class="text-center">
                                    <td><input type="checkbox" value="@item.Id" /></td>
                                    <td>@item.Start.ToLongPersianDateTimeString()</td>
                                    <td>@item.End.ToLongPersianDateTimeString()</td>
                                </tr>
                            }

                        </tbody>
                    </table>

                    <div class="col-md-12">
                        <label>نظر</label>
                        <textarea required class="form-control" name="Vote"></textarea>
                    </div>
                    <input type="hidden" name="MeetingId" value="@ViewBag.MeetingId" />
                </div>
                <ul class="pager wizard m-b-0">
                    <li class="next row">
                        <div class="col-md-6">
                            <button class="btn btn-primary btn-block waves-effect waves-light" id="Accept" name="Status" value="@DataLayer.SSOT.MeetingUserStatus.Accept" type="submit">تایید کردن</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-danger btn-block waves-effect waves-light" id="Reject" name="Status" value="@DataLayer.SSOT.MeetingUserStatus.Reject" type="submit">رد کردن</button>
                        </div>
                    </li>
                </ul>
            }
            else
            {
                <div class="alert alert-danger">
                    <span>مدیر جلسه تایم نهایی جلسه را اعلام کرده و دیگر امکان ثبت وجود ندارد</span>
                </div>
            }
        </div>
    </form>
</div>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable();
            $('#datatable-keytable').DataTable({ keys: true });
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable({ ajax: "~/assets/plugins/datatables/json/scroller-demo.json", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true });
            var table = $('#datatable-fixed-header').DataTable({ fixedHeader: true });
        });
        TableManageButtons.init();

    </script>

    <script>
        var status = '';

        $('#Accept').on('click', function () {
            status= '@(@DataLayer.SSOT.MeetingUserStatus.Accept)'
        })


        $('#Reject').on('click', function () {
            status= '@(@DataLayer.SSOT.MeetingUserStatus.Reject)'
        })


        $(function () {
            $('#create-user-form').on('submit', function (e) {
                e.preventDefault();

                var checkboxs = $('input[type="checkbox"]:checked');
                $.each(checkboxs, function (index, key) {
                    var value = parseInt($(key).val());
                    $(this).append("<input name='times' type='hidden' value='" + value + "'>");
                });

                $(this).append("<input name='Status' type='hidden' value='" + status + "'>");

                $('#create-user-form').unbind('submit').submit();
            });
        })
    </script>
}
