@using DataLayer.Entities.User
@model List<Meetings>
@{
    var count = 1;
}
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <div class="dropdown pull-right">
                            <a asp-action="NewMeeting" asp-controller="Meeting" class="btn btn-success"> ثبت جلسه جدید</a>
                            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                        </div>

                        <h4 class="header-title m-t-0 m-b-30">لیست جلسات من</h4>

                        <table id="datatable-keytable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" width="1">ردیف</th>
                                    <th class="text-center" width="200">عنوان جلسه</th>
                                    <th class="text-center" width="300">توضیحات جلسه</th>
                                    <th class="text-center" width="130">تاریخ ثبت </th>
                                    <th class="text-center" width="130">تاریخ برگذاری جلسه </th>
                                    <th class="text-center" width="1">اقدامات</th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(count++.ToPersianNumbers())</td>
                                        <td>@item.Title</td>
                                        <td>@item.Description</td>
                                        <td>@item.CreateDate.ToPersianDateTextify()</td>
                                        <td class="text-warning">درحال بررسی</td>
                                       
                                        <td>
                                            <a class="btn btn-success Users" asp-action="Detail" asp-route-id="@item.Id">مشاهده جزئیات</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div><!-- end col -->
            </div>
        </div>
    </div>
</div>






@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable();
            $('#datatable-keytable').DataTable({ keys: true });
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable({ ajax: "~/assets/plugins/datatables/json/scroller-demo.json", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true });
            var table = $('#datatable-fixed-header').DataTable({ fixedHeader: true });
        });
        TableManageButtons.init();

    </script>

  
}
